.App {
  text-align: center;
  padding: 0 20vw;
}
.done {
  background-color: rgba(73, 206, 64, 0.96);
}
.inProgress{
  background-color: #5ecacd;
}
.await{
  background-color: gray;
}
.button{
  margin: 10px;
  cursor: pointer;
}